body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: white;
  width: 98%;
  text-align: center;
}
